.footer{
  background: #344249;
  margin-top: 150px;
}
.footer-container {
  max-width: 1200px;
  padding: 110px 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr,1px);
  color: #FFF0B5;
  align-items: center;
  place-items: center center;
}
.footer-texto{
  grid-column: 1;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  max-width: 35ch;
}
.footer-contato{
  text-transform: uppercase;
  grid-column: 3;
  font-size: 1.5rem;
  line-height: 1.4;
}
.footer-contato li{
  margin-bottom: 10px;
}
.footer-linha{
  grid-column: 2;
  background: #FFF0B5 ;
  width: 1px;
  height: 250px ;
  margin: 0px 20px;
}

@media(max-width:1000px){
.footer-texto{
  font-size: 0.875rem;
}
.footer-contato{
  font-size: 1.2rem;
}
}
@media(max-width:800px){
  .footer-contato{
    font-size: 0.888;
  }

}
@media(max-width:570px){
  .email{
     word-break: break-all;
  }
}
